<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Portfolio</title>
    <link rel="stylesheet" href="../Styles/about.css">
</head>
<body>
    <div class="header">
        <div class="navbar">
            <ul>
                <li><a href="../index.html">Home</a></li>
                <li class="color">About</li>
                <li><a href="../Views/resume.html">Resume</a></li>
                <li><a href="../Views/skills.html">Skills</a></li>
                <li><a href="../Views/project.html">Project</a></li>
                <li><a href="../Views/contact.html">Contact</a></li>
            </ul>
        </div>

        <div class="about-me">
            <div class="my-img">
                <img src="../Assets/img.jpg" alt="">
            </div>
            <div class="my-info">
                <h3>About Me</h3>
                <h1>About</h1>
                <div class="detail">
                    <div>
                        <p>Name :</p>
                        <p>Birthday :</p>
                        <p>Email :</p>
                        <p>Address :</p>
                        <p>Phone :</p>
                    </div>
                    <div class="details">
                        <p>Aniket Karangale</p>
                        <p>10 May 2000</p>
                        <p>aniketkarangale8@gmail.com</p>
                        <p>A/p Kolhapur, Maharashtra</p>
                        <p>+91 885688086</p>
                    </div>
                </div>
                
            </div>
        </div>
    
    </div>

    <script src="https://kit.fontawesome.com/f791b44e09.js" crossorigin="anonymous"></script>    
</body>
</html>