<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Portfolio</title>
    <link rel="stylesheet" href="../Styles/contact.css">
</head>
<body>
    <div class="header">
        <div class="navbar">
            <ul>
                <li><a href="../index.html">Home</a></li>
                <li><a href="../Views/about.html">About</a></li>
                <li><a href="../Views/resume.html">Resume</a></li>
                <li><a href="../Views/skills.html">Skills</a></a></li>
                <li><a href="../Views/project.html">Project</a></li>
                <li class="color">Contact</li>
            </ul>
        </div>

        <div class="contact">
            <h3>Contact Me</h3>
            <h1>Contact</h1>
            <div class="social">
                <div class="mail">
                    <div>
                        <i class="fa-solid fa-envelope"></i>
                    </div>
                    <div>
                        <label for="">Email</label>
                        <p>aniketkarangale8@gmail.com</p>
                    </div>
                </div>
                <div class="address">
                    <div>
                        <i class="fa-solid fa-signs-post"></i>
                    </div>
                    <div>
                        <label for="">Address</label>
                        <p>A/p Kolhapur, Maharashtra</p>
                    </div>
                </div>
                <div class="phone">
                    <div>
                        <i class="fa-solid fa-phone"></i>
                    </div>
                    <div>
                        <label for="">Phone</label>
                        <p>+91 8856880086</p>
                    </div>
                </div>
                <div class="share">
                    <div>
                        <i class="fa-solid fa-square-share-nodes"></i>
                    </div>
                    <div class="profiles">
                        <label for="">Social Profiles</label>
                        <ul>
                            <li><a href="https://www.linkedin.com/in/aniket-karangale-566051226/"><i class="fa-brands fa-linkedin"></i></a></li>
                            <li><a href="https://twitter.com/@Aniket10052000"><i class="fa-brands fa-twitter"></i></a></li>
                            <li><a href="https://instagram.com/the_aniket_10?igshid=NGVhN2U2NjQ0Yg%3D%3D&utm_source=qr"><i class="fa-brands fa-instagram"></i></a></li>
                            <li><a href="https://www.facebook.com/profile.php?id=100010718465227&mibextid=LQQJ4d"><i class="fa-brands fa-facebook"></i></a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="sendMsg">
                <input required type="text" placeholder="Your Name" id="text"><br>
                <input required type="email" placeholder="Your Email" id="gmail"><br>
                <input required type="text" placeholder="Subject" id="subject"><br>
                <textarea required name="message" placeholder="Message" id="message" cols="54" rows="9"></textarea><br>
                <button onclick="send()">SEND MESSAGE</button>
            </div>

        </div>

    
    </div>

    <script src="https://kit.fontawesome.com/f791b44e09.js" crossorigin="anonymous"></script>  
    <script src="../JS/contact.js"></script>  
</body>
</html>