<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Portfolio</title>
    <link rel="stylesheet" href="../Styles/resume.css">
</head>
<body>
    <div class="header">
        <div class="navbar">
            <ul>
                <li><a href="../index.html">Home</a></li>
                <li><a href="../Views/about.html">About</a></li>
                <li class="color">Resume</li>
                <li><a href="../Views/skills.html">Skills</a></li>
                <li><a href="../Views/project.html">Project</a></li>    
                <li><a href="../Views/contact.html">Contact</a></li>
            </ul>
        </div>

        <div class="resume-detail">
            <h3>Resume</h3>
            <h1>Resume</h1>
            <div class="resume">
                <div class="resume-img">
                    <img src="../Assets/Resume-Aniket Karangale.jpg" alt="">
                </div>
                <div class="details">
                    <div class="detail-1">
                        <p>2017-2018</p>
                        <h2>HSC</h2>
                        <h4>New Model Jr. College Kolhapur</h4>
                    </div>
                    <div class="detail-2">
                        <p>2018-2021</p>
                        <h2>Bachelor Degree(BCA)</h2>
                        <h4>Vivekanand College Kolhapur</h4>
                    </div>
                    <div class="detail-3">
                        <p>2021-2023</p>
                        <h2>Master Degree(MCA)</h2>
                        <h4>Shivaji University Kolhapur</h4>
                    </div> 
                    <a href="../Files/Resume - Aniket Karangale.pdf" download="CV" class="button"><button>Download CV</button> </a>
                                      
                </div>
            </div>
        </div>

    
    </div>

    <script src="https://kit.fontawesome.com/f791b44e09.js" crossorigin="anonymous"></script>    
</body>
</html>